body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    font-family: Arial;
    border: 0;

}
/*设置宽度,轨道颜色*/
html::-webkit-scrollbar {
	width: 5px;
	height: 10px;
	background: #fbfafa;   /*可以设置轨道颜色*/
	padding-right: 2px;
    
}
/*滚动条*/
html::-webkit-scrollbar-thumb {
	background: rgb(15, 93, 135);

}

* {
    box-sizing: border-box;
}

#topimg {
    float: left;
    padding-top: 3px;
    font-size: 40px;
}

#top1 {
    text-shadow: rgb(69, 131, 167);
    color: rgb(239, 246, 246);
    font-size: 22px;
    text-align: center
}

.welcome1 {
    text-align: right;
    color: white;
    font-size: 15px;
}

/* 导航条 */
.topnav {
    overflow: hidden;
    background-color: rgb(15, 93, 135);
}

/* 导航条链接 */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* 链接颜色修改 */
.topnav a:hover {
    background-color: rgb(8, 96, 123);
    color: black;
}


/* 列后面清除浮动 */
.row:after {
    content: "";
    display: table;
    clear: both;

}
.sc1 {
    width: 80px;
    height: 24px;
    border-color: rgb(187, 187, 187);
    border-width: 1px;
    border-style: solid;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    background: rgb(41, 142, 246);
}

.sc2 {
    width: 80px;
    height: 24px;
    border-color: rgb(187, 187, 187);
    border-width: 1px;
    border-style: solid;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    font-style: normal;
    background: rgb(255, 158, 0);
}
.w20{
    width: 150px;
}
.result {
    float: left;
    width: 67%;
    height: 70%;
    border-style: none;
    border-color: unset;
    box-shadow: rgba(145, 145, 145, 0.17) 0px 2px 6px 0px;
    border-radius: 8px;
    font-size: 14px;
    padding: 0px;
    text-align: center;
    line-height: 20px;
    margin-top: 5px;
    margin-left: 5px;
    font-weight: normal;
    font-style: normal;
    background: rgb(255, 255, 255);
}
.filter {
    margin-top: 10px;
    padding: 10px;
    font-family: SourceHanSansSC;
    font-weight: 400;
    font-size: 17px;
    color: rgb(147, 147, 147);
    font-style: normal;
    letter-spacing: 0px;
    line-height: 20px;
    text-decoration: none;
}
.l20{
    width: 320px; 
    height: 40px; 
    border-color: rgb(220, 224, 231); 
    border-width: 1px; 
    border-style: solid; 
    color: rgb(56, 148, 255); 
    border-radius: 3px; 
    font-size: 14px; 
    padding: 0px; 
    text-align: center; 
    line-height: 20px; 
    font-weight: normal; 
    font-style: normal; 
    background: rgb(255, 255, 255);
}
.btn1{
    width: 95px;
    height: 35px; 
    border-style: none; 
    border-color: unset; 
    color: rgb(255, 255, 255); 
    border-radius: 5px; 
    font-size: 16px; 
    padding: 0px; 
    text-align: center; 
    line-height: 23px; 
    font-weight: normal; 
    font-style: normal; 
    background: rgb(3, 187, 122);
}

.btn2{
    width: 95px;
    height: 35px; 
    border-style: none; 
    border-color: unset; 
    color: rgb(255, 255, 255); 
    border-radius: 8px; 
    font-size: 16px; 
    padding: 0px; 
    text-align: center; 
    line-height: 23px; 
    font-weight: normal; 
    font-style: normal; 
    background: rgb(86, 83, 83);
}


.w1 {
    width: 200px;
    height: 24px;
    border-color: rgb(187, 187, 187);
    border-width: 1px;
    border-style: solid;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    border-radius: 8px;
}

.updatebd{
    width: 400px; 
    height: 400px; 
    border-style: none; 
    border-color: unset; 
    box-shadow: rgba(145, 145, 145, 0.17) 0px 2px 6px 0px; 
    border-radius: 8px; 
    font-size: 14px; 
    padding: 0px; 
    text-align: center; 
    line-height: 20px; 
    margin-top: 100px;
    margin-left: 80px;
    font-weight: normal; 
    font-style: normal; 
    background: rgb(255, 255, 255);
}
.rightcolumn {
    float: left;
    width: 25%;
    height: 100%;

}

/* 响应式布局 - 屏幕尺寸小于 800px 时，两列布局改为上下布局 */
@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* 响应式布局 -屏幕尺寸小于 400px 时，导航等布局改为上下布局 */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}