<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>学生成绩管理系统</title>
    <link rel="icon" href="/image/xhxh.png">
    <link rel="stylesheet" href="/css/teacher.css">
</head>

<body>
    <div class="topnav">
        <img src="/image/xiaohui.svg" alt="校徽" width="200px" id="topimg">
        <a href="#" id="top1">学生成绩管理</a>
        <div style="text-align: right; margin-top: 15px;">
            <span class="welcome1">你好,</span>
            <span class="welcome1" th:text="${session.teacher.tname}">人名</span>
            <span class="welcome1">老师&nbsp;&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="selection">
            <form action="/teacher" method="post">
                <span class="filter">选择学期：</span>
                <select class="w1" name="semid1">
                    <option selected value="0" name="semid1">...</option>
                    <option th:each="sem:${session.semlist}" th:value="${sem.semid}" th:text="${sem.scname}"
                        name="semid1">2022-2023学年第三学期</option>
                </select>
                <span class="filter">选择课程：</span>
                <select class="w1" name="classid">
                    <option selected value="0" name="classid">...</option>
                    <option th:each="theclass:${session.classlist}" th:value="${theclass.cid}"
                        th:text="${theclass.cname}" name="classid">课程名称</option>
                </select>
                <input type="submit" class="sc1" value="查询">
                <input type="reset" class="sc2" value="重置">
            </form>
        </div>
        <div class="leftcolumn">
            <div class="result">
                <table id="tbl_stu">
                    <tr>
                        <th class="w20">课程代码</th>
                        <th class="w20">课程名称</th>
                        <th class="w20">学分</th>
                        <th class="w20">学号</th>
                        <th class="w20">学生</th>
                        <th class="w20">绩点</th>
                        <th class="w20">成绩</th>
                    </tr>
                    <tr th:if="${#lists.isEmpty(session.classstus)}">
                        <td colspan="7">没有对应的信息!</td>
                    </tr>
                    <tr th:unless="${#lists.isEmpty(session.classstus)}" th:each="c1: ${session.classstus}">
                        <td class="w20" th:text="${c1.cid}"></td>
                        <td class="w20" th:text="${c1.cname}"></td>
                        <td class="w20" th:text="${c1.credit}"></td>
                        <td class="w20" th:text="${c1.sid}"></td>
                        <td class="w20" th:text="${c1.sname}"></td>
                        <td class="w20" th:text="${c1.sgrad}/20"></td>
                        <td class="w20" th:text="${c1.sgrad}"></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="rightcolumn">
            <div class="updatebd">
                <div class="text">
                    <p>&nbsp;</p>
                    <form action="update" method="post" id="tloginform">
                        <img src="/image/xiaohui.svg" alt="校徽" width="300px" style="text-align: center;">
                        <p style="text-align:center ;  font-size: 18px; ">&nbsp;修改信息</p>
                        <table class="updatetb">
                            <tr>
                                <td><img src="/image/sid.png" alt="学号" width="30px" id="topimg" style="margin-left: 25px;">
                                </td>
                                <td><input type="text" name="sid" id="sid" value="" placeholder="学号" class="l20" /></td>
                            </tr>
                            <tr>
                                <td><img src="/image/cid.png" alt="课号" width="30px" id="topimg" style="margin-left: 25px;">
                                </td>
                                <td><input type="text" name="cid" id="cid" value="" placeholder="课号"
                                        class="l20" /></td>
                            </tr>
                            <tr>
                                <td><img src="/image/grade.png" alt="分数" width="30px" id="topimg"
                                        style="margin-left: 25px;"></td>
                                <td><input type="text" name="grade" id="grade" value="" placeholder="分数"
                                        class="l20" /></td>
                            </tr>
                            <tr>
                                <div style="text-align: right;">
                                    <th colspan="2">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="submit" class="btn1" value="更新">
                                        <input type="reset" class="btn2" value="重填" />
                                    </th>
                                </div>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>